.demographic-card-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}

.demo-row {
    border: 0.08rem solid rgba(0, 0, 0, 0.534);
    padding: 10px 15px;
    border-radius: 15px;
    background-image: linear-gradient(160deg, #f9f9f9 25%, #ffffff);
    /* background-image: linear-gradient(160deg, #91ff9f 25%, #45ff25); */
    background-color: #0093e9;
    /* background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%); */

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.demo-heading {
    font-size: 17px;
    font-weight: 600;
}

.demo-content {
    padding: 5px 10px;
}
