/*
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(0.05rem);
    z-index: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 55%;
    height: 550px;
    padding: 30px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modal-file-name {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media {
    height: 250px;
    width: 430px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    border: #010101 2px solid;

    background-color: #010101;
}

.media-image:hover {
    transition: object-fit 0.5s ease-in-out;
    object-fit: contain;
    cursor: help;
}

.modal-data-top {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

.modal-details {
    width: 40%;
}

.modal-details h2 {
    margin-top: 0;
}

.modal-details span {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.modal-details span p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-close-button {
    border: none;
    background-color: transparent;

    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 15px;
    transition: 0.1s;
}

.modal-close-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
    fill: red;
}

.modal-data-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.tag-container-wrapper h1 {
    margin: 0;
    font-size: 30px;
    color: #010101;
}

.tag-container {
    padding: 15px;
    height: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    column-gap: 10px;
    margin-top: 10px;
    row-gap: 10px;
    overflow: scroll;
}

.tag-container::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.tag-container::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.analyze-button {
    padding: 10px;
    height: 40px;
    width: 435px;
    text-align: center;
    border-radius: 15px;
    color: #eee;
    background-image: linear-gradient(160deg, #4c3bcf 25%, #200bc0);
    background-image: linear-gradient(
        146deg,
        #9400f0 -20%,
        #4c3bcf,
        #2610cb,
        #9400f0
    );
    border: none;
    transition: 0.2s;
    font-weight: 500;
    line-height: 0;
    font-size: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.analyze-button:hover {
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1.02);
}

.analyze-button:active {
    transform: scale(1);
}

.model-choose-run-container {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.choose-model-options {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.choose-model-options p {
    font-weight: 500;
}

.choose-model-options select {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 255px;
}

.choose-model-options select:hover {
    cursor: pointer;
}

.analyze-bold {
    color: #4c3bcf;
    font-weight: 500;
}

*/

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(0.05rem);
    z-index: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 600px;
    padding: 30px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modal-file-name {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media {
    height: 220px;
    /* width: 409px; */
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    border: #010101 2px solid;

    background-color: #010101;
}

.media-image:hover {
    transition: object-fit 0.5s ease-in-out;
    object-fit: contain;
    cursor: help;
}

.modal-data-top {
    display: flex;
    column-gap: 30px;
    margin-bottom: 5px;
}

.modal-details {
    width: 40%;
}

.modal-details h2 {
    margin-top: 0;
}

.modal-details span {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.modal-details span p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-close-button {
    border: none;
    background-color: transparent;

    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 15px;
    transition: 0.1s;
}

.modal-close-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
    fill: red;
}

.modal-data-bottom {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}

.tag-container-wrapper {
    /* width: 100%; */
    padding: 10px;
}

.tag-container-wrapper h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #010101;
}

.tag-container {
    padding: 15px;
    height: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    column-gap: 10px;
    margin-top: 10px;
    row-gap: 10px;
    overflow: scroll;
}

.tag-container::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.tag-container::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.analyze-button {
    padding: 10px;
    height: 40px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    color: #eee;
    background-image: linear-gradient(160deg, #4c3bcf 25%, #200bc0);
    background-image: linear-gradient(
        146deg,
        #9400f0 -20%,
        #4c3bcf,
        #2610cb,
        #9400f0
    );
    border: none;
    transition: 0.2s;
    font-weight: 500;
    line-height: 0;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.analyze-button:hover {
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1.02);
}

.analyze-button:active {
    transform: scale(1);
}

.analyze-button-disabled {
    padding: 10px;
    height: 40px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    color: #bababa;
    background-image: linear-gradient(160deg, #4c3bcf 25%, #200bc0);
    background-image: linear-gradient(
        146deg,
        #7100b7 -20%,
        #302399,
        #180a84,
        #7100b7
    );
    border: none;
    transition: 0.2s;
    font-weight: 500;
    line-height: 0;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.analyze-button-disabled:hover {
    cursor: not-allowed;
}

.model-choose-run-container {
    display: flex;
    /* column-gap: 5px; */
    align-items: center;
    justify-content: space-between;
}

.choose-model-options {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.choose-model-options p {
    font-weight: 500;
    font-size: 14px;
}

.choose-model-options select {
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    width: 150px;
}

.choose-model-options select:hover {
    cursor: pointer;
}

.analyze-bold {
    color: #4c3bcf;
    font-weight: 500;
}

.no-tags {
    line-height: 1.5;
}

.demographic-container-wrapper {
    /* width: 100%; */
    padding: 10px;
}

.demographic-container-wrapper h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #010101;
}

.demographic-container {
    padding: 15px;
    height: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    column-gap: 10px;
    margin-top: 10px;
    row-gap: 10px;
    overflow: scroll;
}

.demographic-container::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.demographic-container::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
