--root {
    --icon-color: rgb(211, 0, 0);
}

.view-more-button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    background-color: #4c3bcf;
    color: #fff;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 0.1s;
}

.view-more-button:hover {
    cursor: pointer;
    background-color: #3a2c9f;
    transition: 0.2s;
}

.view-more-button:active {
    scale: 0.97;
    transition: 0.1s;
}

tr td {
    text-align: center;
}

.delete-row-button {
    border-radius: 50%;
    line-height: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: transparent;
    border: rgb(211, 0, 0) 2px solid;
    transition: 0.15s;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.delete-icon {
    fill: rgb(211, 0, 0);
}

.delete-row-button:hover {
    cursor: pointer;
    background-color: rgb(211, 0, 0);
    transition: 0.1s;
}
.delete-row-button:hover .delete-icon {
    fill: white;
    transition: 0.1s;
}

.delete-row-button:active {
    transform: scale(0.95);
    transition: 0.1s;
}
